extends ../layout

block content

    script(type="text/javascript" src="/javascripts/confirmation.js")

    h1= "Confirm order"

    table#order
        thead
            tr 
                th Plate
                th Quantity
                th Unit price
                th Price
        tbody
            each entry, i in orderList
                tr
                    td #{entry.plate.name}
                    td #{entry.quantity}
                    td #{entry.plate.price}$
                    td #{entry.plate.price*entry.quantity}$
            tr  
                td(colspan=3)= "Sub"
                td= subtotal
            tr  
                td(colspan=3)= "Total"
                td= total

    h2= "Order informations"

    label= "Addresse: "
    select(name="addresses")
        option(value='')='Select an address'

    button(id="addAddress")= "New address"

    br

    label= "Date: "
    input(name="deliveryDate")

    br