extends ../layout

block content
    h1 User List
    
    table
        thead
            tr
                th Name
                th Email
                th Phone
                th Birth date
                th Address Complete
        tbody
            each user, i in userlist
                tr
                    td #{user.username}
                    td #{user.email}
                    td #{user.phone}
                    td #{user.birthdate}
                    td
                        each adpc, i in user.address
                            | #{adpc.address} , #{adpc.postalCode}
                            br
