extends ../layout

block content
    h1.
        User List
    
    table
        thead
            tr 
                th Name
                th Email
                th Password
                th Phone
                th Birth date
                th Address
        tbody
            each user, i in userlist
                tr
                    td #{user.username}
                    td #{user.email}
                    td #{user.password}
                    td #{user.phone}
                    td #{user.birthdate}
                    td #{user.address}


