extends ../layout

block content
    script(type='text/javascript' src='/javascripts/users.js')
    h1 User List
    
    table
        thead
            tr
                th Account Type
                th Name
                th Email
                th Phone
                th Birth date
                th Address Complete
        tbody#accounts
            each doc, i in userlist
                tr(id=doc.user._id).accType 
                    td
                        select 
                            each type, j in accTypes
                                option(value=type._id, selected=type.id==doc.user.accountType).type #{type.name}

                        input(type="hidden" value="#doc.user.accountType").accId
                    td #{doc.user.username}
                    td #{doc.user.email}
                    td #{doc.user.phone}
                    td #{doc.user.birthdate}
                    td
                        each adpc, i in doc.user.address
                            | #{adpc.address} , #{adpc.postalCode}
                            br

    button.sexybutton(type="submit" id="updateAccTypes") Update