extends ../layout

block content

    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script.
        $(function() {
        $( "#datepicker" ).datepicker({
        changeMonth:true, 
        changeYear:true, 
        buttonImageOnly:true,
        showOn: "button",
        buttonImage: "../public/images/pizza_clock.png",
        buttonImageOnly: true
        });
        });
        
    script(type='text/javascript').
        function validatePassword(){
            var btnSubmit = document.getElementById("btnSubmit");
            var password = document.getElementById('password');
            var password1 = document.getElementById('password2');
            var message = document.getElementById('message');
            if (password.value == password1.value) {
                message.style.color="#135F07";
                message.innerHTML = "Passwords match";
                btnSubmit.disabled=false;
            }else{
                message.style.color="#9C000B";
                message.innerHTML = "Passwords don't match";
                btnSubmit.disabled=true;
            }
        }
        

    h1 Manage account
    form#formAddUser(name="adduser",method="post",action="updateuser")
    
        input#inputUserName(type="text", placeholder="Complete name", name="username", value=username)

        br
        
        input#datepicker(type="text", name="birthdate", value=userbirthdate readonly)
            
        br
        
        input#inputUseraddress(type="text", placeholder="Complete address", name="address", value=useraddress)
        
        br
        
        input#inputUserPhone(type="text", placeholder="Phone number", name="phone", value=userphone)
        
        br

        input#inputUserEmail(type="text", placeholder="Email", name="email", value=useremail readonly)

        br
        
        input#password(type="password", placeholder="Password", name="password", onkeyup="validatePassword();", onchange="validatePassword();")
        
        br
        
        input#password2(type="password", placeholder="Password (again)", name="userpassword2", onkeyup="validatePassword();", onchange="validatePassword();")
        
        span(id="message")
        
        br
        input#inputUserId(type="hidden", placeholder="userid", name="userid", value=userid)
        button#btnSubmit(type="submit") submit
