extends ../layout

block content
    script(type="text/javascript" src="/javascripts/restaurants.js")
    script(type="text/javascript").
        initManageRestaurants();

    h1= header

    table
        thead
            tr
                th Name
                th Address
                th Postal Code
                th Description
                th Restaurateur
                th#manageOption 
        tbody
            each resto, i in restos
                tr
                    td #{resto.name}
                    td #{resto.adress}
                    td #{resto.postal_code}
                    td #{resto.description}
                    if (resto.restaurateur.name)
                        td #{resto.restaurateur.name}
                    else
                        td #{resto.restaurateur}
                    td#manageOption(style="width:60px;padding:0;")
                        form(style="display:inline;", action="restaurants/update", method="post")
                            input(type="hidden", name="restaurantId", value="#{resto._id}")
                            button(type="submit", style="border:0; background:none;padding:0;margin:0;")
                                img(src="/images/pizza_gear.png", width="28px")
                            
                        form(style="display:inline;", action="restaurants/delete", method="post", onSubmit="if(!confirm('Are you sure you want to delete this restaurant?')){return false;}")
                            input(type="hidden", name="restaurantName", value="#{resto._id}")
                            button(type="submit", style="border:0; background:none;padding:0;margin:0;")
                                img(src="/images/pizza_cross.png", width="28px")

    form.center(name="createrestaurant",action="/restaurants/create")
        button.sexybutton(type="submit", style="margin:10px;") Add Restaurant
        button.sexybutton(type="button" onclick="activateManageOption()", style="margin:10px; margin-left:0px;") Manage Restaurants