extends ../layout

block content
    h1= header
  
    form(name="Update",method="post",action="updateRestaurant")
  
        input(type="text", placeholder="name", name="name", value=name)
        input(type="text", placeholder="address", name="address", value=address)
        input(type="text", placeholder="A1B 2C3", name="postal_code", value=postal_code)
        input(type="text", placeholder="description", name="description", value=description)
        br
        br
        label Assigned restaurateur: 

        select#restaurateur(name="restaurateur")
            option(value="ND") Without restaurateur
            each r, i in users
                option(class=currUser, value="#{r.id}", selected=r.id==currUser) #{r.username}
        br
        br
        input(type="hidden", name="restaurantId", value=id)
        button.sexybutton(type="submit") Update